/* Banner Section */
#contact-banner {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url("../img/contact.png") no-repeat center center / cover;
}

/* Contact Section */

.about-email,
.about-phone {
  font-size: 25px;
  font-weight: 600;
}

.about p {
  font-weight: 200;
  margin: 0;
  padding: 0 0 40px;
  text-align: start;
}

/* Form Section */
.form-container {
  font-family: "Poppins";
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.form-contact {
  font-weight: 200;
}

.form-contact input {
  margin: 5px 0 20px;
}

.required {
  font-weight: 100;
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
  min-height: 50px;
  padding: 15px;
  padding: 10px;
  border: 1px solid #9c9b9b;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #000000;
}

.name-inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.name-inputs input {
  flex: 1;
}

.email {
  width: 100%;
}

.message {
  width: 100%;
  height: auto;
  margin: 5px 0 20px;
}

.contact-btn {
  padding: 20px 30px;
  background-color: #a3826c;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: 300px;
  cursor: pointer;
}

.contact-btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

/* Add responsive behavior */
@media (max-width: 768px) {
  .name-inputs {
    flex-direction: column; /* Stack inputs on smaller screens */
  }
}
