header button:active {
  opacity: 70%;
  color: #fff;
}

/* banner area */

.about-area p {
  content: none;
  padding: 0 20px 0;
  margin: 0;
  font-weight: 300;
}

section p {
  font-size: 20px;
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 20px;
  line-height: 2;
  z-index: 10;
}

#home-banner {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url("../img/home.png") no-repeat center top / cover;
}

/* .banner-img {
  height: 100vh;
  background: url("../img/home.png") no-repeat center center/cover;
} */

.about-btn {
  padding: 25px 50px;
  font-size: 15px;
  background: #a3826c;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}

.about-btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.home-section {
  display: flex;
  justify-content: center;
  padding: 0;
}

section ul .home-img_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-content {
  width: 77%;
}

section #home-content p {
  font-size: 25px;
  text-align: center;
  padding: 20px 30px 0;
}

.home-img_1 img {
  height: 70%;
  width: 70%;
}

footer {
  background-color: #efefee;
}

footer p {
  padding: 50px 0 40px 50px;
  font-weight: 100px;
}
