#mission-banner {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url("../img/mission.png") no-repeat center top / cover;
}

@media (max-width: 407px) {
  #about p {
    padding: 0;
  }
}

@media (max-width: 320px) {
  #mission-banner {
    height: 40vh;
  }
}
