.about-header,
#about-area,
.mission-area,
.content-area {
  background-color: #3e3d3d;
  color: white;
}

#about-area {
  padding: 20px 40px 0;
}

.about-content h4 {
  text-transform: uppercase;
}

.about-content h4,
.about-content p {
  padding: 0;
  margin: 0;
  text-align: left;
}

#about-mission li {
  display: flex;
  justify-content: space-around;
  padding: 0 20px 0 20px;
}

#about-mission li p {
  max-width: 30rem;
}

#about-mission img {
  height: 30rem;
  width: 30rem;
  border-radius: 2px;
}

#about-me {
  padding-top: 5rem;
}

.mission-area {
  display: flex;
  flex-direction: column;
  padding-top: 15rem;
}

#mission-content {
  object-fit: cover;
}

.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.mission-content img {
  height: 27rem;
  width: 40rem;
  object-fit: cover;
  border-radius: 410px;
}

#mission-content img {
  object-fit: fill;
}

.mission-img_1 .about-content {
  width: 45%;
}

.mission-img_2 {
  display: flex;
  flex-direction: row-reverse;
}

.mission-img_2 .about-content {
  text-align: right;
  width: 45%;
}

.mission-img_3 div {
  width: 45%;
}

.mission-content li {
  display: flex;
  justify-content: space-between;
  gap: 20rem;
}

.mission-content div {
  padding-top: 50px;
}

.mission-area h4 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 25px;
}

.mission-area p {
  font-weight: 200;
}
